body,
html {
  margin: 0;
  padding: 0;
}
h2,
p {
  margin: 0;
}

img {
  position: relative;
  transition: transform 0.5s;
  z-index: 3;
  &:hover {
    transform: scale(1.2);
    -webkit-filter: brightness(103%) contrast(114%) grayscale(0%)
      hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
    filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg)
      invert(0%) opacity(100%) saturate(122%) sepia(0%);
    mix-blend-mode: none;
  }
}

@media screen and (min-width: 320px) {
  .c-AppContainer {
    max-width: 280px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .c-AppContainer {
    max-width: 550px;
  }
}

@media screen and (min-width: 1024px) {
  .c-AppContainer {
    max-width: 1024px;
    margin: 0 auto;
  }
}
